@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

.todo-list {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.todo-list__title {
  font-size: 3.0em;
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
  color: red;
}

.todo-list__label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.todo-list__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  left: 0;
  top: 2px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.todo-list__label input:checked ~ .check {
  background-color: #4CAF50;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.todo-list__label input:checked ~ .check:after {
  display: block;
}

.todo-list__label .check:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.todo-list__label:hover .check {
  background-color: #ccc;
}

.todo-list__label span {
  margin-left: 10px;
  font-size: 1em;
  transition: color 0.3s ease;
}

.todo-list__label:hover span {
  color: #4CAF50;
}
