@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 36px;
  color: #ffffff;
}

form {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.todos {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todos li {
  padding: 10px;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  color: green;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todos li:hover {
  background-color: #000000;
}

.todos li.completed {
  text-decoration: line-through;
  color: #aaa;
}

small {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #ff0000;
}
