@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: #0a0a0a;
}

.container {
  background-color: #00ffdd;
  display: grid;
  gap: 20px;
  width: 500px;
  max-width: calc(100vw - 40px);
  padding: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

#text {
  display: block;
  height: 100px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
  resize: none;
  padding: 8px 10px;
  outline: 2px solid rgba(0, 0, 0, 0.623);
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px;
  background: #ce09bd;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background: #ff0000;
}
