body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    font-size: 36px;
    color: #ff0000;
}

.main {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input[type="color"] {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

input[type="color"]:hover {
    transform: scale(1.05);
}

input[type="text"] {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}

input[type="text"]:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#colorName {
    margin-top: 20px;
    font-size: 18px;
    color: #ff00bf;
    transition: color 0.3s ease-in-out;
}

#colorName:hover {
    color: #000;
}
